body {
  background-color: white;
}

.weather {
  font-size: 30px;
  text-align: right;
  color: whitesmoke;
}

.clock {
  padding-top: 120px;
  height: 300px;
}

.clock h1 {
  font-size: 200px;
  color: whitesmoke;
  text-align: center;
}

.smallBox {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  height: 150px;
}

.bigBox {
  display: flex;
  justify-content: center;
}

.form {
  padding-top: 50px;
}

.form,
.greetings {
  display: none;
  font-size: 50px;
  color: whitesmoke;
}

.toDoList {
  list-style: none;
  margin-left: 450px;
}

.input-style {
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  border-bottom-width: 2;
  background-color: transparent;
  width: 400px;
  height: 60px;
  font-size: 50px;
  text-align: center;
  color: whitesmoke;
}

input::placeholder {
  color: whitesmoke;
}
input::-webkit-input-placeholder {
  color: whitesmoke;
}
input:-ms-input-placeholder {
  color: whitesmoke;
}

textarea::placeholder {
  color: whitesmoke;
}
textarea::-webkit-input-placeholder {
  color: whitesmoke;
}
textarea:-ms-input-placeholder {
  color: whitesmoke;
}

.showing {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 1s linear;
}

li {
  font-size: 20px;
  color: whitesmoke;
}
